<h1>About page</h1>


<%= link_to 'Homepage', root_path %> 

<br>
<br>

<header>
  <h3>
    Something About Alpha Blog?
  </h3>
</header>
<hr>
<br>
<body>
  <p>
    Say what about the blog?
  </p>
</body>
<footer>
  <h6>
    Havis | copyright 2018
  </h6>
</footer>